# NAMESPACE file of fmsb by Minato Nakazawa
# last modified 16 January 2024
importFrom("graphics", "arrows", "barplot", "lines", "plot", "points",
     "polygon", "rect", "segments", "stem", "text")
importFrom("stats", "IQR", "complete.cases", "fisher.test", "fivenum",
     "median", "optim", "p.adjust.methods", "pairwise.table",
     "pnorm", "qnorm", "quantile", "var", "qchisq")
importFrom("utils", "capture.output")

export(SIQR,
       truemedian,
       geary.test,
       gstem,
       rateratio,
       ratedifference,
       riskratio,
       riskdifference,
       oddsratio,
       Kappa.test,
       roc,
       CronbachAlpha,
       NagelkerkeR2,
       VIF,
       percentile,
       radarchart,
       radarchartcirc,
       pvalueplot,
       pairwise.fisher.test,
       mhchart,
       spearman.ci.sas,
       JASM,
       Jlife,
       Jfert,
       Jpop,
       Jpopl,
       Jvital,
       Jvital2013byPref,
       PrefYLL2010,
       PrefYLL2015,
       PrefYLL2020,
       Prefe0,
       S60MPJ,
       H27MPJ,
       GompertzMakeham,
       fitGM,
       Siler,
       fitSiler,
       Denny,
       fitDenny,
       CM,
       fitCM,
       CT,
       fitCT,
       Hadwiger,
       fitHad,
       lxtodx,
       dxtolx,
       qxtodx,
       dxtoqx,
       qxtomx,
       mxtoqx,
       qxtolx,
       lxtoqx,
       uxtoqx,
       lifetable,
       lifetable2,
       lifetable3,
       clifetable,
       Jp2010s,
       getax,
       hlifetable,
       WhipplesIndex,
       CaretakerRatio,
       IndexOfDissimilarity,
       PEI,
       ORMH,
       pvpORMH,
       RCI,
       IRCI,
       IRCIPois,
       RDMH,
       RRMH,
       IRDMH,
       IRRMH)

# methods
    
S3method(print, roc)
S3method(plot, roc)
